Repository cse110-sp23-group24/cse110-sp23-group24-Final-Project, pull requests merged in 2023-06, with the labels that each got.

#57 Result page CSS almost done
  pages/result-page/index.html
  pages/result-page/script.js
  pages/result-page/styles.css
Labels: Project-HTML, Project-CSS, Project-JS

#61 Fixed label sizes, added more CSS
  pages/result-page/index.html
  pages/result-page/styles.css
Labels: Project-CSS, Project-JS

#62 Changed background image and theme
  global.css
  pages/result-page/styles.css
  pages/select-cards/index.html
  pages/select-cards/styles.css
  public/assets/img/background/frontPage.jpeg
  public/assets/img/cardBack.png
  styles.css
Labels: enhancement, Project-HTML, Project-CSS
